body{
    font-family: Aerial, Helvetica, sans-serif;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

.signin-container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
    text-align: left;
}

input{
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

 input[type="submit"]{
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
 }

